.table {
  position: relative;
  display: inline-block;
  height: 80%;
}

.table-image {
  position: relative;
  height: 75%;
  top: 15%;
  left: 0;
}

.table-card {
  position: absolute;
  width: 7%;
  top: 37.5%;
}
