@import url("https://fonts.googleapis.com/css?family=Roboto");
body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  height: var(--full-height, initial);
}

#root {
  height: var(--full-height, initial);
  overflow: auto;
}

.app {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
